<style>
    .maincontainer{
        display: flex;
        flex-direction: row;
        background-color: #fff;
        width: 100%;
        height: 10%;
    }

    .container{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 90%;
    }

    .box{
        background-color: #fff;
        height: 100%;
        width: 25%;

    }

    .box1{
        background-color: #fff;
        width: 100%;
        height: 100%;
       
    }

    .back{
background-image: url('/images/search.png');
background-repeat: no-repeat;
background-size: 25px;
background-position: 5px;
    }

    .gap{
        margin-bottom: 30px;
        margin-left: -80px;
    }
</style>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    </head>
    <form>
    <body>
        <div class="maincontainer">
            <img src="/images/moviehub.png" width="100px" height="75px" style="padding-left: 25px;">
            <div style="font-size: 30px;font-weight: bold;margin-top: 9px; padding-left: 5px; color: rgb(230, 227, 71);">Movies Hub</div>
            <div style="padding-top: 18px;padding-left: 60px;"><img src="/images/lines.png" width="20px" height="25px" ></div>
            <div style="padding-top: 12px;padding-left: 15px;"><b><input type="text" class="form-control back" placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Search movie" style="width: 500px; border: none;" name="search"></b></div>
            <div style="padding-top: 15px;padding-left: 30px;"><img src="/images/user.png" width="25px" height="25px"></div>
            <div style="padding-top: 20px;padding-left: 5px;"><b><%=data.adminname %></b></div>
            <div style="padding-top: 15px;padding-left: 30px;"><img src="/images/email.png" width="30px" height="30px"> </div>
            <div style="padding-top: 17px;padding-left: 30px;"><img src="/images/alert.png" width="25px" height="25px"></div>
            <div style="padding-top: 17px;padding-left: 30px;"><img src="/images/logout.png" width="25px" height="25px"></div>
            <div style="padding-top: 13px;padding-left: 25px;"><img src="/images/menu.jpg" width="25px" height="25px"></div>
</div>
  <div class="container">
<div class="box" >
      <div style="display: flex;flex-direction: row;" class="gap">
       <div style="padding-top: 50px;"><img src="/images/<%=data.picture %>" height="45px" width="45px" style="border-radius: 25px;"></div>
       <div style="padding-top: 50px; "><b><%=data.adminname %></b><h6 style="font-size: 12px;"><%=data.emailid %></h6></div>
</div>

<div style="display: flex;flex-direction: row;"  class="gap">
    <div style="font-size: 18px; font-weight: 30px;  " >Home</div>
    <div style="padding-left: 115px; "><img src="/images/home.png" height="25px" width="30px"></div>
</div>

<div style="display: flex;flex-direction: row;" class="gap">
    <div style="font-size: 19px; font-weight: 30px;"><a href="/movies/movie_interface" target="frame" style="text-decoration: none;">Movies</a></div>
    <div style="padding-left: 107px;"> <img src="/images/movie.png" height="25px" width="30px"></div>
</div>

<div style="display: flex;flex-direction: row;" class="gap">
    <div style="font-size: 18px; font-weight: 30px;"><a href="/movies/fetch_all_movies" target="frame" style="text-decoration: none;">Display All Movies</a></div>
    <div style="padding-left: 20px;"><img src="/images/display.png" height="25px" width="30px"></div>
</div>

<div style="display: flex;flex-direction: row;" class="gap">
    <div style="font-size: 18px; font-weight: 30px;">Documentation</div>
    <div style="padding-left: 45px;"><img src="/images/document.png" height="25px" width="30px"></div>
</div>

<div style="display: flex;flex-direction: row;" class="gap">
    <div style="font-size: 18px; font-weight: 30px;"><a href="/admin/logout" style="text-decoration: none;">Log Out</a></div>
    <div style="padding-left: 105px;"><a href="/admin/logout" style="text-decoration: none;"><img src="/images/logout.png" height="25px" width="30px"></a></div>
</div>
</div>


<div class="box1">
    <iframe frameborder="0" name="frame"  width="100%" height="100%" style="flex-direction: row;">

    </iframe>
    </div>
    </div>
    
    </body>
</form>
</html>